body{
    font-family: monospace;
    background-color: #001F3F;
    
    }
    h1{
    text-align: center;
    color: aliceblue;
    }
    ul{
    list-style: none;
    color: aliceblue;
    }
    
    h2{
    color: aliceblue;
    padding: 20px;
    }
    
    h1, h2{
    text-align: center;
    }
    .title{
    background-color: #3A6D8C;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0%;
    padding-right: 0%;
    }
    
    .box{
    padding: 0;
    }
    .pangalawa{
    background-color: #3A6D8C;
    }
    ul{
    
    }
    .picture{
    padding: 10px;
    }